* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho{
    background: -webkit-gradient(linear, left top, right top, from(#bd849b), to(#bb6fa4)) no-repeat;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#imagem-cabecalho {
    rotate: -30deg;
    width: 400px;
    border-radius: 50%;
    border: solid #222502;   
    margin: 1%;
}

header nav {
    display: flex;
    margin-left: 200px;
    padding-top: 20px;
    gap: 32px;
 }
 
 header nav a{
    font-size: 25px;
     text-decoration: none;
     color: #4d3b03;
 }

 body{
    background: -webkit-gradient(linear, left top, right top, from(#bd849b), to(#bb6fa4)) no-repeat;
 }
#meu-nome{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1550px;

}
#meu-nome h1{
    display: flex;
    font-family: 'Pinyon Script', cursive;
    font-size: 60px;
    color: rgba(66, 8, 8, 0.699);
}
#frase {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 40px;
}

#frase :nth-child(1){
    display: flex;
    margin-top: 200px;
    margin-right: 100px;
}

#frase :nth-child(2){
    font-size: 25px;
    display: flex;
    margin-top: 10px;
    margin-right: 100px;
    font-style: italic;
}
footer{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}